<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a class="navbar-link" href="#/user/:uid/website/new">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </p>
        <p class="navbar-text pull-left">
            <a href="#/profile" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </p>
        <div class="navbar-header">
            <a class="navbar-brand">Websites</a>
        </div>
    </div>
</nav>


<div class="container-fluid headerPadding footerPadding">
    <ul class="list-group">
        <li ng-repeat="website in websites" class="list-group-item">
            <a href="#/user/:uid/website/{{website._id}}/page">{{website.name}}</a>
            <div class="listConf pull-right">
                <a href="#/user/:uid/website/{{website._id}}">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </div>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a class="navbar-link" href="#/user/:uid">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>