<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a ng-click="model.createPage(model.webId, {name: model.name, description: model.description})" class="navbar-link">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </p>
        <p class="navbar-text pull-left">
            <a class="navbar-link" href="#/user/{{model.userId}}/website/{{model.webId}}/page">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </p>
        <div class="navbar-header">
            <a class="navbar-brand">New Page</a>
        </div>
    </div>
</nav>

<div class="container-fluid headerPadding footerPadding">
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input ng-model="model.name" type="text" class="form-control" id="name" placeholder="Page Name">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input ng-model="model.description" type="text" class="form-control" id="description" placeholder="Page Description">
        </div>
    </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a class="navbar-link" href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>