<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a class="navbar-link" href="#/page-new.view.client.html">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </p>
        <p class="navbar-text pull-left">
            <a class="navbar-link" href="#/website/website-list.view.client.html">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </p>
        <div class="navbar-header">
            <a class="navbar-brand">Pages</a>
        </div>
    </div>
</nav>

<div class="container-fluid headerPadding footerPadding">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="#/widget/widget-list.view.client.html">Blog Post</a>
            <div class="listConf pull-right">
                <a href="#/page-edit.view.client.html">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </div>
        </li>
        <li class="list-group-item">
            <a href="#/widget/widget-list.view.client.html">Blogs</a>
            <div class="listConf pull-right">
                <a href="#/page-edit.view.client.html">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </div>
        </li>
        <li class="list-group-item">
            <a href="#/widget/widget-list.view.client.html">Home</a>
            <div class="listConf pull-right">
                <a href="#/page-edit.view.client.html">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </div>
        </li>
        <li class="list-group-item">
            <a href="#/widget/widget-list.view.client.html">About</a>
            <div class="listConf pull-right">
                <a href="#/page-edit.view.client.html">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </div>
        </li>
        <li class="list-group-item">
            <a href="#/widget/widget-list.view.client.html">Contact Us</a>
            <div class="listConf pull-right">
                <a href="#/page-edit.view.client.html">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </div>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a class="navbar-link" href="#/user/profile.view.client.html">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>