<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-text">
            <a class="navbar-link" href="#/user/{{model.userId}}/website/:wid/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </p>
        <div class="navbar-header">
            <a class="navbar-brand">Choose Widget</a>
        </div>
    </div>
</nav>

<div class="container-fluid headerPadding footerPadding">
    <div class="list-group">
        <div class="list-group-item"><a ng-click="model.createWidget(model.pid, {widgetType: 'HEADER'})">Header</a></div>
        <div class="list-group-item"><a ng-click="model.createWidget(model.pid, {widgetType: 'HTML'})">HTML</a></div>
        <div class="list-group-item"><a ng-click="model.createWidget(model.pid, {widgetType: 'IMAGE'})">Image</a></div>
        <div class="list-group-item"><a ng-click="model.createWidget(model.pid, {widgetType: 'YOUTUBE'})">YouTube</a></div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a class="navbar-link" href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>