<div class="container-fluid">
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="name">
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <input type="text" class="form-control" id="text" placeholder="text">
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input ng-model="model.widget.url" type="url" class="form-control" id="url" placeholder="URL">
        </div>
        <div class="form-group">
            <label for="width">Width</label>
            <input ng-model="model.widget.width" type="text" class="form-control" id="width" placeholder="100%">
        </div>
        <div class="form-group">
            <label for="file">Upload</label>
            <input type="file" class="form-control" id="file">
        </div>
        <a class="btn btn-primary btn-block" href="#/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget/">Upload Image</a>
    </form>
</div>