<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <p class="navbar-text pull-right">
                    <a ng-click="model.updateWidget()" class="navbar-link">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                </p>
                <p class="navbar-text pull-left">
                    <a class="navbar-link"
                       href="#/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget/">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </p>
                <div class="navbar-header">
                    <a class="navbar-brand">Widget Edit</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid headerPadding footerPadding">
    <!--<div ng-include="'views/widget/widget-'+model.widget.widgetType+'.view.client.html'"></div>-->
    <form>
        <div ng-switch="model.widget.widgetType">
            <div ng-switch-when="HEADER">
                <div ng-include src="'views/widget/widget-header.view.client.html'"></div>
            </div>

            <div ng-switch-when="IMAGE">
                <div ng-include src="'views/widget/widget-image.view.client.html'"></div>
            </div>

            <div ng-switch-when="YOUTUBE">
                <div ng-include src="'views/widget/widget-youtube.view.client.html'"></div>
            </div>

            <div ng-switch-when="HTML">
                <div ng-include src="'views/widget/widget-html.view.client.html'"></div>
            </div>
        </div>
    </form>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a class="navbar-link" href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>