<div class="container-fluid">
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input ng-model="model.widget.name" type="text" class="form-control" id="name" placeholder="name">
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <input ng-model="model.widget.text" type="text" class="form-control" id="text" placeholder="html">
        </div>
        <div class="container-fluid"><a ng-click="model.deleteWidget(model.widgetId)" class="btn btn-danger btn-block">Delete</a></div>
    </form>
</div>